ExportChamadosBot_1_0_0_1_managed/Workflows/Boty-AnexaarquivoV2-A38A0BA4-C505-F111-8406-7C1E525B38F7.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness": {
        "api": {
          "name": "shared_onedriveforbusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "crdb8_teste.cr.FATVMdU-"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "TokenDesk",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Chamado",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "Descrição",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "fileUrl",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Please enter your input",
                  "title": "fileName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_5": {
                  "description": "Please enter your input",
                  "title": "fileContentType",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Create_file": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "folderPath": "/Anexos Chamados",
              "name": "@triggerBody()?['file']?['name']",
              "body": "@triggerBody()?['file']?['contentBytes']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "CreateFile",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {},
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Create_share_link": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "id": "@outputs('Create_file')?['body/Id']",
              "type": "Edit",
              "scope": "Anonymous"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "CreateShareLinkV2",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {
            "Create_file": [
              "Succeeded"
            ]
          }
        },
        "Mensagem": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Mensagem",
                "type": "string",
                "value": "@concat('Mensagem: ', triggerBody()?['text_2'], '\\n\\n',  \r\n'Anexo: ', outputs('Create_share_link')?['body/WebUrl'])"
              }
            ]
          },
          "runAfter": {
            "Create_share_link": [
              "Succeeded"
            ]
          }
        },
        "Interage_no_chamado": {
          "type": "Http",
          "inputs": {
            "uri": "https://api.desk.ms/ChamadosSuporte/interagir",
            "method": "PUT",
            "headers": {
              "Authorization": "@{triggerBody()?['text']}"
            },
            "body": {
              "Chave": "@triggerBody()?['text_1']",
              "TChamado": {
                "Descricao": "@variables('Mensagem')",
                "CodStatus": "000001",
                "CodFormaAtendimento": "000076"
              },
              "TIc": {
                "Chave": {
                  "278": "on",
                  "280": "on"
                }
              }
            }
          },
          "runAfter": {
            "Mensagem": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "retorno": {
                  "title": "Retorno",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "retorno": "Interação realizada com sucesso:"
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "Parse_JSON": {
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Interage_no_chamado')",
            "schema": {
              "type": "object",
              "properties": {
                "TChamado": {
                  "type": "object",
                  "properties": {
                    "Chave": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Interage_no_chamado": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {},
      "description": "When an agent calls the flow and send back a response."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}